{% extends 'base.html.twig' %}

{% block title %}ToDoList index{% endblock %}

{% block body %}
    <h2>Bonjour {{ app.user.firstname }}</h2>
    <p>Voici vos listes en cours</p>
    <div class="mb-4">
        <a class="btn btn-lg btn-info " href="{{ path('to_do_list_new') }}">Nouvelle liste</a>
    </div>

{#    <div class="page-content page-container" id="page-content">#}
{#        <div class="padding">#}
            <div class="row container d-flex justify-content-center">
                {% for to_do_list in to_do_lists %}
                <div class="col-lg-6">
                    <div class="card px-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ to_do_list.name }}</h4>
                            <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    {% for item in to_do_list.items %}
                                    <li>
                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> {{item.content}}<i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
{#                                    <li class="completed">#}
{#                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" checked=""> For what reason would it be advisable for me to think. <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> it be advisable for me to think about business content? <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Print Statements all <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>#}
{#                                    </li>#}
{#                                    <li class="completed">#}
{#                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" checked=""> Call Rampbo <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Print bills <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>#}
{#                                    </li>#}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>Vous n'avez pas encore de liste</p>
                {% endfor %}
            </div>
{#        </div>#}
{#    </div>#}

{% endblock %}
