<nav class="navbar bg-info mb-4">
    <a class="navbar-brand text-dark" href="{{ path('index') }}">Accueil <i class="fas fa-list-alt"></i></a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            <a href="{{ path('app_logout') }}" class="text-dark">Déconnexion</a>
        </button>
    {% else %}
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            <a href="{{ path('app_login') }}" class="text-dark">Connexion</a>
        </button>
    {% endif %}
</nav>


