{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h2>Inscription</h2>

    {{ include('user/_form.html.twig') }}

    <p class="mt-2">Vous avez déjà un compte ?</p>
    <a href="{{ path('app_login') }}" class="btn btn-secondary">Connexion</a>
{% endblock %}
